[Unit]
Description=light-locker before sleep

[Service]
ExecStart=light-locker-command -l
Type=forking
Environment=DISPLAY=:0

[Install]
WantedBy=sleep.target suspend.target
Before=sleep.target suspend.target
